.alert-page {
  padding: 20px;
  color: white;
  background-color: #0b0b0b;
  min-height: 100vh;
}

.subtitle {
  color: #aaa;
  margin-bottom: 15px;
}

.alertlog-container {
  width: 100%;
  padding: 24px;
  color: #fff;
}

.alertlog-container h1 {
  font-size: 28px;
  margin-bottom: 6px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 20px;
}
