
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* removes scrolling */
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    background: rgba(26, 26, 26, 0.459);
    align-items: center;
    margin-top: 50px;
    width: 520px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 25px;
}

.text{
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.underline{
    width: 50px;
    height: 5px;
    background-color: rgb(40, 182, 12);
    border-radius: 9px;
}

.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.input{
    display: flex;
    align-items: center;
    width: 420px;             
    height: 60px;
    background-color: #eaeaea;
    border-radius: 6px;
}


.icon{
    margin: 0 20px;
    color: #555;
    font-size: 26px;
}

.input input{
    height: 40px;
    width: 320px;                
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 17px;
}

.input-group {
  position: relative;
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.toggle-password:hover {
  color: #2ec400;
}


.forgot-password{
    width: 420px;          
    margin: 15px auto 0;
    text-align: left;      
    color: #797979;
    font-size: 16px;
}


.forgot-password span{
    color: rgb(40, 182, 12);
    cursor: pointer;
}

.submit-container{
    display: flex;
    justify-content: space-between; 
    width: 420px;                   
    margin: 30px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 182, 12);
    width: 190px;
    height: 55px;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.submit:hover{
    background-color: rgb(13, 73, 1);
    color: rgb(218, 218, 218);
}

.gray{
    background: #eaeaea;
    color: #000000;
}


.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

/* INPUT */
.password-input input {
  width: 320px;
  height: 40px;
  padding-left: 60px;     /* space for icon */
  background: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  color: #797979;
  z-index: 1;             /* INPUT ABOVE */
}

/* ICON */
.toggle-password.left {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #555;
  cursor: pointer;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;             /* icon above input */
}

/* HOVER */
.toggle-password.left:hover {
  color: rgb(40, 182, 12);
}
