.sidebar {
  position: fixed;
  top: 70px; 
  left: 0;
  width: 240px;
  height: calc(100vh - 70px);
  background: #00000065;
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.logo-circle {
  width: 36px;
  height: 36px;
  background: #0f7d00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.sidebar-items {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-link{
  text-decoration: none;
}

.sidebar-items li {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 16px;
  color: #cfcfcf;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 8px;
  transition: background 0.3s ease;
}

.sidebar-items li:hover {
  background: rgb(40, 182, 12);
  transition: color 0.3s ease;
}

.sidebar-items li.active {
  color: white;
}

.sidebar-items li svg {
  font-size: 22px;
}

.sidebar-link.active li{
  background: rgb(40, 182, 12);
  color: white;
}

.sidebar-footer {
  display: flex;
  justify-content: center;
}

.user-circle {
  width: 36px;
  height: 36px;
  background: #111;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

