body{
    margin: 0;
    font-family: 'Calibri';
    height: 100vh;
    background: linear-gradient(rgb(13, 73, 1),rgb(0, 0, 0))
};

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
